@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
:root{
	

    --red: #FF5757;
    --purple: #CB6CE6;
    --green: #00BF63;
    --yellow: #FFBD59;

    /* Lighter Shades */
    --red-light: #fa8989;
    --purple-light: #E3A4F3;
    --green-light: #33D37F;
    --yellow-light: #FFDA8A;

    /* Darker Shades */
    --red-dark: #ba2e2e;
    --purple-dark: #A052B9;
    --green-dark: #00994F;
    --yellow-dark: #CC983E;


	--white: #ffffff;
	--black: rgb(44, 44, 44);
}


body {
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	background-color: #fbf4b6;

    overflow-x: hidden;

	
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
