
@import url('./tailwind.css');
@import url('./vue.css');

@font-face {
    font-family: 'MoreSugar';
    src: url('../fonts/moreSugar/MoreSugar-Regular.ttf') format('truetype'),
         url('../fonts/moreSugar/MoreSugar-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MoreSugar';
    src: url('../fonts/moreSugar/MoreSugar-Thin.ttf') format('truetype'),
         url('../fonts/moreSugar/MoreSugar-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); */
:root{
	
    /* Base Colors */
    --red: #FF5757;
    --purple: #CB6CE6;
    --green: #00BF63;
    --yellow: #FFBD59;

    /* Lighter Shades */
    --red-light: #fa8989;
    --red-lighter: #fcb3b3;
    --red-lightest: #fde5e5;

    --purple-light: #E3A4F3;
    --purple-lighter: #EDC2F7;
    --purple-lightest: #F7E5FB;

    --green-light: #33D37F;
    --green-lighter: #66E0A0;
    --green-lightest: #b3f3cf;

    --yellow-light: #FFDA8A;
    --yellow-lighter: #FFE6AC;
    --yellow-lightest: #FFF3D3;

    /* Darker Shades */
    --red-dark: #ba2e2e;
    --red-darker: #8b2121;
    --red-darkest: #5e1515;

    --purple-dark: #A052B9;
    --purple-darker: #7A3D8D;
    --purple-darkest: #542961;

    --green-dark: #00994F;
    --green-darker: #00783D;
    --green-darkest: #004f29;

    --yellow-dark: #CC983E;
    --yellow-darker: #99732F;
    --yellow-darkest: #664d1f;

	--white: #ffffff;
	--black: rgb(44, 44, 44);
}


body {
	font-family: 'Nunito', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	/* background-color: var(--yellow-lightest); */
    overflow-x: hidden;
    transition: background-color 0.5s ease;
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection{
    color: white;
    background-color: #7ed957;
}

.button:active:not(:disabled){
    transform: scale(.95);
}

.button:disabled{
    /* transform: scale(.95); */
    filter: grayscale(.6);
    opacity: .6;
    cursor: not-allowed !important;
}


h1{
    font-weight: 900;
    font-size: 3rem;
}


h2{
  font-size: 1.5rem;
  font-weight: 600;
}


.button {
    background-color: var(--green);
    width: fit-content;
    padding: .5rem .7rem;
    border-radius: .5rem;
    color: whitesmoke;
    margin-block: 1rem;
    transition: .2s ease;

    text-shadow: .1rem .1rem black;
    box-shadow: .1rem .1rem black;
}

.button:hover {
    background-color: var(--green-light);

}

.button.yellow-bg {
    color: #ffffff;
    background-color: #ffb219;
}

.button.yellow-bg:hover {
    background-color: var(--yellow);
}

.button.red-bg {
    color: #ffffff;
    background-color: var(--red);
}

.button.red-bg:hover {
    background-color: var(--red-light);
}

.button.purple-bg {
    color: #ffffff;
    background-color: var(--purple);
}

.button.purple-bg:hover {
    background-color: var(--purple-light);
}



section{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    /* min-height: 100vh; */

    padding: 1rem 2rem;
    margin-block: 1rem;
}

.loader{
    position: fixed;
    top: 20%;
    left: 50%;
    /* transform: translateX(50%) translateY(50%); */
    font-size: 8rem;
    color: white;
    /* animation: colorChange; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
@keyframes colorChange {
    0%{
        color: var(--red);
        
    }
    25%{
        color: var(--green);
        
    }
    50%{
        color: var(--yellow);
        
    }
    100%{
        color: var(--purple);

    }
}